<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="openProfile()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>RIDES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flexbox">
    <div *ngIf="!isLoading">
      <app-filters
        (filterEvent)="filter($event)"
        [filterDTO]="filters"
      ></app-filters>

      <app-ride
        *ngFor="let ride of rides"
        [ride]="ride"
        [filters]="filters"
        (bookEvent)="onBookEvent()"
      >
      </app-ride>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success" (click)="navigateAddRide()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
